[Unit]
Description=Discord bot controlling the CMS

[Service]
User=trixie
ExecStart=/bin/bash /var/www/begaydocrim.es/bot/botStartup.sh
Restart=always

[Install]
WantedBy=multi-user.target