/*
        GLOBAL STYLES
===========================================================================================================================================================
*/

/* Variables */
:root {
    --padding: 0.5vw;
    --contentWidth: calc(100vw - var(--padding) * 4);
    --mainColor: #FFD1DC;
    --light-contrast: #FFFFFF;
    --light-alt: antiquewhite;
    --dark-contrast: #696969;
    --ordFont: "Roboto", sans-serif;
    --titleFont: "Pacifico", cursive;
    --font-size: 1.25vh;
}

/* Body Calcs */
body {
    background-color: var(--mainColor);
    font-family: var(--ordFont);
    margin: var(--padding);
    height: 100%;
}

.container {
    width: var(--contentWidth);
}

/* H1/2 */
h1, h2 {
    font-family: var(--titleFont);
    margin: 0px;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

img {
    display: block;
    margin: auto;
    height: 50vh;
}

/*
        TABLE STYLES
===========================================================================================================================================================
*/

.borderless {
    max-width: 100%;
    border: 0;
}

.twoUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
    .stack {display: flex; flex-flow: column; overflow: scroll;}
    .stack > .first {order: 1; max-height: fit-content;}
    .stack > .second {order: 2;}
}

/*
        HEADER/FOOTER STYLES
===========================================================================================================================================================
*/

.footer, .navBar {
    gap: var(--padding);
    padding: var(--padding);
    background-color: var(--dark-contrast);
    max-height: fit-content;
}

.footer p{
    margin: 0px;
}

.navBar div, .footer p {
    background-color: var(--light-contrast);
    padding: var(--padding);
    text-align: center;
}

.navBar p {
    font-size: 1.25em;
    margin: 0px;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title {
    text-align: center;
    margin: var(--padding);
    font-size: 1.25em;
}

.title > h1 {
    font-size: 4em;
}

/* Reformat for small screen */

@media screen and (max-width: 600px) {
    .title > h1 {
        font-size: 10vw;
    }
}

/*
        HOMEPAGE STYLES
===========================================================================================================================================================
*/

.homebody {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    gap: var(--padding);
    padding: var(--padding) 0px var(--padding) 0px;
}

.homebody h1 {
    font-family: var(--ordFont);
}

.content h1 {
    font-size: 3vw;
}

.sidebar h1 {
    font-size: 2vw;
}

.content {
    display: flex;
}

.sidebar {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5fr 45fr;
}

.content, .sidebar {
    background-color: var(--light-contrast);
    height: 50vh;
    min-height: 400px;
    padding: 0px var(--padding) 0px var(--padding);
}

.microMsgTitle {
    font-size: auto;
    text-align: center;
    height: fit-content;
}

.microMsgContainer {
    overflow: hidden;
    flex-direction: column;
    height: 100%;
}

.microMsgScroll {
    overflow-y: auto;
    display: flex;
    height: 100%;
    flex-grow: 1;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.prof-img {
    height: 30vh;
    width: auto;
    padding-bottom: calc(var(--padding) * 2);
}

.prof-desc {
    vertical-align: top;
}

.prof-desc h3 {
    font-size: 2em;
}

/* Reformat for small screen */

@media screen and (max-width: 600px) {
    /* Reorder grid to columns */
    .homebody {display: flex; flex-flow: column; overflow: scroll;}
    .content {order: 1; max-height: fit-content;}
    .sidebar {order: 2;}

    /* Reformat contributors */
    .prof-img {
        width: 30vw;
        height: auto;
        padding-bottom: calc(var(--padding) * 2);
    }

    .content {
        height: fit-content;
    }
}

/*
        POSTINDEX STYLES
===========================================================================================================================================================
*/
.postindex {
    display: grid;
    gap: var(--padding);
    padding: var(--padding) 0px var(--padding) 0px;
}

.post {
    display: grid;
    height: fit-content;
    padding: var(--padding);
    background-color: var(--light-contrast);
    grid-template-columns: 2fr 3fr;
}

.post > .posttitle {
    padding: 0px 0px 0px 5%;
}

.postexcerpt {
    display: flex;
    align-items: center;
    height: 100%;
}

.postmeta {
    margin: 0px;
    width: 100%;
    text-align: center;
    background-color: var(--light-alt);
}

.postmeta > div {
    padding: calc(var(--padding) *2);
}

.postBody {
    margin: var(--padding) 0px 0px 0px;
    background-color: var(--light-contrast);
}

.postmeta hr {
    margin: 0px
}

/*
        MARKDOWN STYLES
===========================================================================================================================================================
*/
md-block h2 {
    font-family: var(--ordFont);
    text-align: left;
    margin-top: var(--padding);
    margin-bottom: var(--padding);
}

.postcontent {
    padding: var(--padding) calc(var(--padding) * 2) ;
}

md-block blockquote {
    font-weight: 300;
}

md-block blockquote br {
    display: block;
    margin-bottom: calc(var(--padding) *3);
}