/*
        GLOBAL STYLES
===========================================================================================================================================================
*/

/* Variables */
:root {
    --padding: 1vw;
    --contentWidth: 100vw;
    --mainColor: antiquewhite;
    --light-contrast: #E34234;
    --light-alt: #FFFFFF;
    --dark-contrast: #696969;
    --ordFont: "Roboto", sans-serif;
    --titleFont: "Plus Jakarta Sans", serif;
    --font-size: 1.25vh;
}

/* H1/2 */
h1, h2 {
    font-family: var(--titleFont);
    margin: 0px;
    font-style: normal;
    font-weight: 400;
}


/* Body Calcs */
body {
    background-color: var(--mainColor);
    font-family: var(--ordFont);
    height: 100%;
	margin: 0;
}

.container {
    width: 100%;
	display: grid;
	grid-template-columns: 0.75fr 2fr;
}

.sidebar {
	background-color: var(--light-contrast);
	color: var(--light-alt);
    height: 100vh;

    .prof-img {
        display: none;
    }
}

.abtDesc {
	padding: var(--padding)
}
.prof-img {
	max-width: 200px;
	display: block;
	margin: auto;
}

.microMsgTitle {
    font-size: auto;
    text-align: center;
    height: fit-content;
}

.microMsgContainer {
    overflow: hidden;
    flex-direction: column;
    height: 100%;
}

.microMsgScroll {
    overflow-y: auto;
	padding: var(--padding);
    display: flex;
    height: 100%;
    flex-grow: 1;
    -ms-overflow-style: thin;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
}

.microMsgScroll md-block, .microMsgScroll img {
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
    font-size: calc(var(--font-size) * 4);
    padding: var(--padding);
}

.postsHomePage {
    padding: 20%;
    
    .post {
    width: 60%;
    display: inline-block;
    margin: auto;
    align-self: center;
    }
}
.gap {
    height: calc(var(--padding) *2);

    hr {
        display: block;
        width: 10%;
        margin-top: calc(var(--padding) *2);
    }
}